.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-header {
    font-size: 35px;
    color: #59C0BF;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}

.sub-header {
    font-size: 25px;
}

.input {
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    width: 50%;
    padding: 15px;
    margin: 10px;
}

.signup-btn {
    background-color: #48B5BA;
    color: white;
    width: 30%;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 3px;
}
