.align-right {
    display: flex;
    flex-direction: row;
}

.align-left {
    display: flex;
    flex-direction: row;
}

.user-name-me {
    margin-left: 10px;
    font-family: "Gill Sans";
}

.user-name-friend {
    margin-right: 10px;
    font-family: "Gill Sans";
}

.conversation-box-me {
    display: flex;
    width: 200px;
    background-color: #F1F1F1;
    font-family: "Gill Sans";
}

.conversation-box-friend {
    display: flex;
    width: 200px;
    background-color: #DEE8E9;
    font-family: "Gill Sans";
}

.text-me {
    padding: 15px;
    font-size: 13px;
    color: gray;
}

.text-friend {
    font-weight: bolder;
    padding: 15px;
    font-size: 13px;
}

.arrow-right {
    width: 0;
    height: 0;
    margin-top: 18px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #F1F1F1;
}

.arrow-left {
    width: 0;
    height: 0;
    margin-top: 18px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #DEE8E9;
}

@media (min-width: 520px){
    .align-right {
        margin-left: 20%;
        margin-right: -20%;
    }

    .align-left {
        margin-left: -20%;
        margin-right: 20%;
    }

    .conversation-box-me {
        width: 300px;
    }

    .conversation-box-friend {
        width: 300px;
    }
}

