.message-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid #DEE8E9;
    margin: 10px;
    font-family: "Gill Sans";
}

.name {
    align-self: center;
    padding: 15px;
    flex: 3;
    font-size: 15px;
    color: dimgray;
}

.message {
    background-color: #DEE8E9;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    flex: 7;
}

.message-text {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-btn {
    color: white;
    background-color: #FF6E01;
    align-self: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
}

@media (min-width: 520px) {
    .message-wrapper {
        flex-direction: row;
        width: 60%;
    }
    .name {
        padding-left: 10px;
        font-size: 20px;
    }
    .message {
        flex-direction: row;
        padding: 20px;
        width: 100px;
    }
    .message-text {
        align-self: flex-start;
        font-size: 13px;
        padding-right: 15px;
    }
    .message-btn {
        font-size: 16px;
        font-family: "Gill Sans";
    }
}
